*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
            width: 100vw;
            min-height: 100vh;
            background-color: rgb(14, 212, 238);
        }

html,body{
    width: 100%;
    height: 100%;
}
header{
    height: 10vh;
    width: 100%;
    background-color: rgb(247, 20, 20); 
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    margin-top: 30px;
    position: sticky;
    top: 0;  
}
#Logo{
    font-size: 140px;
    font-weight: 1900;
}
nav{
    display: flex;
    gap: 40px;
}
nav a{
    text-decoration: none;
    color: rgb(15, 231, 202);
    font-size: 20px;
    padding: 2px 11px;
}
nav a:hover{
    background-color: rgb(182, 9, 235);
    color: rgb(12, 11, 11);
    border-radius: 5px;
}

.HeroSection{
    width: 100%;
    height: 90vh;
    display: flex;
    padding: 0px 50px;
}
.LeftHeroSection{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    margin: 70px;
}
.LeftHeroSection h1{
    font-size: 92px;
}
.LeftHeroSection p{
    font-size: 20px;
    color: black;
}
.LeftHeroSection button{
    background-color: rgb(250, 250, 5);
    padding: 9px 17px;
    border-radius: 20px;
}
.LeftHeroSection button:hover{
    background-color: rgb(20, 19, 19);
    color: white;
    cursor:grabbing;
}


.RightHeroSection{
    width: 40%;
}
.RightHeroSection img{
    width: 100%;
    padding-top: 15%;
}

.ProjectSection{
    width: 70%;
    height: 60vh;
    border: 5px double black;
    background-color: rgb(255, 251, 251);
    margin: auto;
    border-radius: 10px;
    padding-top: 50px;
}
.ProjectSection section{
    width: 300px;
    height: 300px;
    border: 3px dotted black;
    border-radius: 10px;
    margin: auto;
    background-image: url("./image.jpg.jpg");
    background-position: top;
    overflow: hidden;

}
.ProjectSection section:hover{
    background-size: 180%;
    cursor: pointer;
}
.ProjectSection p{
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.ProjectSection p:hover{
    text-decoration:underline;
    cursor: pointer;

}

#goToTop{
    padding: 20px 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(247, 6, 6);
    color: black;
    z-index: 50;
}